.header img {
  float: left;
  height: 100px;
  background: rgb(255, 255, 255);
}

.header h1 {
  position: relative;
  font-family: 'Trebuchet MS';
  font-size: 3em;
  color:midnightblue;
  top: 18px;
  left: 10px;
}

.header h3 {
  position: relative;
  font-family: 'Trebuchet MS';
  font-size: 1em;
  color:midnightblue;
  top: 18px;
  left: 10px;
}

p {
  font-size: 1.2em;
  font-family: 'Trebuchet MS';
  color:rgb(20, 20, 68);
  margin-left: 15%;
  margin-right: 15%;
}

h2 {
  position: relative;
  font-family: 'Trebuchet MS';
  font-size: 2em;
  color:midnightblue;
  top: 18px;
  left: 10px;
}

h4 {
  position: relative;
  font-family: 'Trebuchet MS';
  font-size: 1em;
  color:midnightblue;
  left: 10px;
}

.map {
  position: absolute;
  left: 0;
  margin:auto
}

.mapDiv {
  position: relative;
  overflow: hidden;
  width: 95%;
  padding-top: 56.25%;
  margin: 0 auto;
}
