.App {
  height: 100vh;
  background: rgb(255, 255, 255);
}

.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: rgb(15, 15, 70);
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(12, 22, 161);
  color: #ddd;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
}

.header {
  padding: 0 -10px;
}

.logoTitle img {
  float: left;
  height: 100px;
  background: rgb(255, 255, 255);
}

.logoTitle h1 {
  position: relative;
  font-family: 'Trebuchet MS';
  font-size: 3em;
  color:midnightblue;
  top: 18px;
  left: 10px;
}

.logoTitle h3 {
  position: relative;
  font-family: 'Trebuchet MS';
  font-size: 1em;
  color:midnightblue;
  top: 18px;
  left: 10px;
}

p {
  font-size: 1.2em;
  font-family: 'Trebuchet MS';
  color:rgb(20, 20, 68);
  margin-left: 15%;
  margin-right: 15%;
}

h1 a {
  position: relative;
  font-family: 'Trebuchet MS';
  /* font-size: 4em; */
  color:midnightblue;
  top: 18px;
  left: 10px;
  text-decoration: none;
}

h2 {
  position: relative;
  font-family: 'Trebuchet MS';
  font-size: 2em;
  color:midnightblue;
  top: 18px;
  left: 10px;
}

h4 {
  position: relative;
  font-family: 'Trebuchet MS';
  font-size: 1em;
  color:midnightblue;
  left: 10px;
}


.map {
  width: 99%;
  height: 700px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .map {
    width: 99%;
    height: 90vh;
  }
}
