@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* disable pinch zoom */
  touch-action: pan-x pan-y;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map {
  width: 100%;
  min-height: calc(100vh - 56px);
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.a_info {
  color: blue;
}

.h1_info {
  font-size: larger;
  font-weight: bolder;
}

.flex-item {
  margin: 2em;
  padding: 2em;
  gap: 10px;
  align-items: stretch;
  width: 100%;
}

.parnerLogo {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}